ARB_RESOURCE_KEY=your_resource_key_here
ARB_MERCHANT_ID=your_merchant_id_here
ARB_PASSWORD=your_password_here
ARB_API_URL=https://securepayments.alrajhibank.com.sa/pg/payment/hosted.htm
NEXT_PUBLIC_ADSENSE_CLIENT_ID=ca-pub-xxxxxxxxxxxxxxxx
NEXT_PUBLIC_ADSENSE_SLOT_HOME_TOP=0000000000
NEXT_PUBLIC_ADSENSE_SLOT_HOME_MID=0000000000
NEXT_PUBLIC_ADSENSE_SLOT_TOOLS_LIST=0000000000
NEXT_PUBLIC_ADSENSE_SLOT_TOOL_DETAIL=0000000000
NEXT_PUBLIC_ADSENSE_SLOT_TOOL_PAGE=0000000000
AUTH_SECRET=change_me_to_a_long_random_secret
NEXT_PUBLIC_VIDEO_DOWNLOAD_MODE=server
